 
::-webkit-scrollbar {
    width: 80px;
    height:80px;
    overflow:scroll;
     scrollbar-face-color: #367CD2;
}
::-webkit-scrollbar-track {
	background-color: black;
}


::-webkit-scrollbar-thumb {
	background-color: white;
	box-shadow: inset 0px 0px 20px rgba(0,0,0,0.8); 
    border-radius: 20px;
}

body {
	zoom:100%;
	-webkit-scrollbar-width:100px;
}

